@model GetTopicDTO


<div class="topic-area">
    <div class="topic-reply publisher">
        <div class="user">
            <div class="box user-info-card user-info-card-horizantal">
                <img src="~/img/@Model.AppUser.UserPhoto" class="user-profile-photo">
                <div class="texts">
                    <a href="#" class="username">@Model.AppUser.UserName</a>
                    <span class="biography">@Model.AppUser.UserBiography</span>
                </div>
            </div>
        </div>
        <div class="reply">
            <p>@Model.TopicContent</p>
        </div>
        <p class="signature">@Model.AppUser.UserSignature</p>
    </div>

    @foreach (var reply in Model.Replies)
    {
        <div class="topic-reply">
            <div class="user">
                <div class="box user-info-card user-info-card-vertical">
                    <img src="~/img/@reply.AppUser.UserPhoto" class="user-profile-photo">
                    <div class="texts">
                        <a href="#" class="username">@reply.AppUser.UserName</a>
                        <span class="biography">@reply.AppUser.UserBiography</span>
                    </div>
                </div>
            </div>
            <div class="reply">
                <p>
                    @Html.Raw(reply.ReplyContent)
                </p>
            </div>
            <p class="signature">
                @reply.AppUser.UserSignature
            </p>
        </div>
    }

    @if (User.Identity.IsAuthenticated)
    {
        <form id="replyForm" method="post">
            <textarea name="ReplyContent" data-selector="tinymce"></textarea>
            <button type="submit">Gönder</button>
        </form>
        <style>
            .tox-statusbar__path,
            .tox-statusbar__right-container,
            .tox-promotion,
            .tox-notifications-container {
                display: none !important;
            }
        </style>
    }
    else
    {
        <p>Yorum yapmak için giriş yapınız</p>
    }
    <div id="responseMessage"></div>
    @section Scripts {
        <script>
            $(document).ready(function () {
                $('#replyForm').on('submit', function (event) {
                    event.preventDefault();

                    var formData = new FormData(this);
                    formData.append('AppUserID', '@User.FindFirst(ClaimTypes.NameIdentifier)?.Value');
                    formData.append('TopicID', '@Model.TopicID');

                    $.ajax({
                        url: '@Url.Action("CreateReply", "Replys")',
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            notyf.success('Cevabınız başarıyla gönderildi');
                            $('#responseMessage').html('<p>Yanıt başarıyla gönderildi!</p>');
                            $('#replyForm')[0].reset();
                        },
                        error: function (xhr, status, error) {
                            notyf.error('Cevap gönderilirken bir sorun oluştu');
                            $('#responseMessage').html('<p>Hata: ' + error + '</p>');
                        }
                    });
                });
            });
        </script>
    }
</div>
